[mysqld]
server-id = 1
log-bin = mysql-bin
binlog_format = ROW
sync_binlog = 1

binlog_do_db = packagetracking
expire_logs_days = 7
max_binlog_size = 100M

default_authentication_plugin = mysql_native_password

bind-address = 0.0.0.0
port = 3306

innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 1

skip_ssl
require_secure_transport = OFF

gtid_mode = ON
enforce_gtid_consistency = ON
log_slave_updates = ON
read_only = OFF
super_read_only = OFF 