[mysqld]
server-id = 2
log-bin = mysql-bin
binlog_format = ROW
relay-log = mysql-relay-bin
relay-log-index = mysql-relay-bin.index

read_only = 1
log_slave_updates = 1

default_authentication_plugin = mysql_native_password

bind-address = 0.0.0.0
port = 3306

innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 1

skip_ssl
require_secure_transport = OFF

gtid_mode = ON
enforce_gtid_consistency = ON 